.container {
  width: 40rem;
  aspect-ratio: 1/0.75;
  background-color: rgb(249, 242, 232);
  margin: auto;
  border-radius: 7px;
  box-shadow: 2px 3px 5px 3px rgb(177, 175, 175);
  text-align: center;
}
h1 {
  padding-top: 2rem;
}
form {
  font-size: 1.1rem;
  font-weight: 600;
}

.roller-btn {
  margin-left: 1.2rem;
  background-color: rgb(45, 124, 243);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  height: 2.4rem;
}
.dice-faces img {
  width: 4rem;
  margin: 1rem;
}
.result-box {
  width: 38rem;
  word-wrap: break-word;
}
